<div class="container">
<div class="row">
    <div class="col-sm-4 col-sm-push-8 abacash-form-information">
        <p><b>Tilgjenlige systemer:</b></p>
        <p ng-repeat="system in systems">{{system.name}}</p>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
        <form class="login-form" name="form" ng-submit="invite(form)" novalidate>
        <!-- Ugly way of preventing autofill -->
        <input type="password" name="password_fake" id="password_fake" value="" style="display:none;" />
        <div class="form-group abacash" >
            <div class="abacash-input input">
                <input name="email"  on-focussed required ng-model="newUser.email" auto-fill-sync on-filled type="email" class="form-control">
                <label for="undefined">Epost</label>
            </div>
        </div>
        <div class="form-group abacash" >
            <div class="abacash-input input">
                <select class="abacash-select form-control filled" on-select-focussed ng-options="role for role in userRoles" ng-model="newUser.role"></select>
                <label for="undefined">Brukerolle</label>
            </div>
        </div>
        <div class="form-group abacash" >
            <div class="abacash-input input">
                <tags-input name="system" displayProperty="name" ng-model="newUser.systems" min-tags="1" max-tags="1" class="form-control" on-tags-focussed  on-tags-filled >
                <auto-complete minLength="true" minLength="5" displayProperty="name" source="systems"></auto-complete>
                </tags-input>
                <label for="undefined">Systemer</label>
            </div>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && submitted">
             Please enter a valid email.
          </p>
          <p class="help-block" ng-show="!form.system.$valid && submitted">
             Brukeren har ikke et gyldig system(er)
          </p>
          <p class="help-block">{{errors}}</p>
        </div>
        <div>
            <button  ng-click="abort()" class="abacash-button red">Avbryt</button>
            <button  type="submit" class="abacash-button dark-gray">Inviter</button>
        </div>
    </form>
    </div>
</div>
    
</div>