{
    "extends": "webkom",
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 4],
        "new-cap": [2, {
            "capIsNewExceptions": ["Router", "ARRAY"]
        }]
    },
    "env": {
        "node": true,
        "mocha": true
    }
}
