version: '2'

services:
  postgres:
    image: postgres:9.5
    ports:
      - '127.0.0.1:5432:5432'
    environment:
      - POSTGRES_USER=abacash

  influxdb:
    image: influxdb:alpine
    ports:
      - "8083:8083"
      - "8086:8086"
    environment:
      - INFLUXDB_ADMIN_ENABLED=true

  grafana:
    image: grafana/grafana:latest
    ports:
      - "5000:3000"
    links:
      - influxdb
