version: '2'

services:

  postgres:
    image: postgres:9.6
    ports:
      - '127.0.0.1:5432:5432'
    environment:
      - POSTGRES_USER=abacash

  fakesmtp:
    image: digiplant/fake-smtp
    ports:
      - "25:25"
    volumes:
      - ./email:/var/mail
