<div class="container">
	<div class="row" ng-show="products.length">
		<div class="col-sm-12">
			<table class="abacash-table">
			    <thead>
			        <tr>
			            <th><a ng-click="order('name')">Navn</a></th>
			            <th><a ng-click="order('active')">Aktiv</a></th>
			            <th><a ng-click="order('type')">Type</a></th>
			            <th><a ng-click="order('price')">Pris</a></th>
			            <th><a ng-click="order('internalprice')">Internpris</a></th>
			            <th><a ng-click="order('stock')">stock</a></th>
			        </tr>
			    </thead>
			    <tbody ng-repeat="product in products | filter: search | orderBy:predicate:reverse">    <tr class="clickable" ng-click="select(product._id)">
			            <td>{{product.name}}</td>
			            <td>{{product.active}}</td>
			            <td>{{product.type}}</td>
			            <td>{{product.price}}</td>
			            <td>{{product.internalprice}}</td>
			            <td>{{product.stock}}</td>
			        </tr >
			    </tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center empty-table-message" ng-show="!products.length">
			<h1>Ingen producter enda</h1>
			<img src="assets/icons/emoji-sad.svg">
			<br>
			<h2>Du kan jo begynne å lage noen</h2>
			<button  ng-click="new()" class="abacash-button dark-gray">Nytt produkt</button>
		</div>
	</div>
</div>