<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group abacash" >
	            <div class="abacash-input input">
	                <input name="type"  on-focussed required ng-model="type" auto-fill-sync on-filled type="text" class="form-control">
	                <label for="undefined">Produkt type</label>
	            </div>
	        </div>
	        <button  ng-click="abort()" class="abacash-button red">Avbryt</button>
	        <button  ng-click="create()" class="abacash-button dark-gray">Lagre</button>
		</div>
	</div>
</div>