<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="abacash-table">
			    <thead>
			        <tr>
			            <th><a ng-click="order('name')">Type</a></th>
			            <th><a ng-click="order('active')">Antall produkter</a></th>
			            <th></th>
			        </tr>
			    </thead>
			    <tbody ng-repeat="type in types track by $index | orderBy:predicate:reverse">
			    	<tr>
			            <td>{{type.name}}</td>
			            <td>{{type.products}}</td>
			            <td><button  ng-click="delete(type.name)" ng-disabled="type.products != 0" class="abacash-button red table">Slett</button></td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>