// ----------------------------------------
// // ------ abacash-tables config ------
// ----------------------------------------
tr.clickable{
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover{
            background-color: $white;
        }
        &.selected{
            background-color: $white;
        }
}

.empty-table-message{
    h1{
        color: $dark-gray;
        font-weight: 300;
        font-size: 30px;
    }
    img{
        max-width: 300px;
    }
    h2{
        color: $dark-gray;
        font-weight: 300;
        font-size: 26px;
    }
}
// ----------------------------------------
// // ------ colors ------
// ----------------------------------------

$abacash-table-border-color: #b8b8b8;

// ----------------------------------------
// // ------ demo container settings ------
// ----------------------------------------

$container-width: 88%;
$container-max-width: 40em;

// ----------------------------------------
// // ------ abacash-table settings ------
// ----------------------------------------

$abacash-table-border-width: .071428571em;
$abacash-table-border-style: solid;
$abacash-table-margin-bottom: 1.529411765em;
$abacash-table-cell-padding: 10px;
$abacash-table-cell-text-align: left;
$abacash-table-cell-border-top: $abacash-table-border-width $abacash-table-border-style $abacash-table-border-color;
$abacash-table-header-font-weight: bold;
$abacash-table-body-border-top: .142857143em $abacash-table-border-style $abacash-table-border-color;
$abacash-table-condensed-padding: .294117647em;
$abacash-table-bordered-border: $abacash-table-border-width $abacash-table-border-style $abacash-table-border-color;
$abacash-table-bordered-border-radius: .470588235em;
$abacash-table-border-left: $abacash-table-border-width $abacash-table-border-style $abacash-table-border-color;
$abacash-table-bordered-child-radius: .470588235em;

/* =============================================================

    abacash-Tables v1.0
    Simple abacash-table styling by Chris Ferdinandi.
    http://gomakethings.com

    Adapted from Twitter Bootstrap.
    http://twitter.github.com/bootstrap/

    Licensed under the Apache License v2.0
    http://www.apache.org/licenses/LICENSE-2.0

 * ============================================================= */


/* =============================================================
    RESPONSIVE RESET
    Replace with your own.
 * ============================================================= */

@-webkit-viewport { width: device-width; zoom: 1.0; }
   @-moz-viewport { width: device-width; zoom: 1.0; }
    @-ms-viewport { width: device-width; zoom: 1.0; }
     @-o-viewport { width: device-width; zoom: 1.0; }
        @viewport { width: device-width; zoom: 1.0; }

html { overflow-y: auto; }

img, audio, video, canvas { max-width: 100%; }

/* =============================================================
    abacash-TABLES
    abacash-Table styling.
 * ============================================================= */

/*  Removes default browser settings
 *  and evens out inconsistencies. */
table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
        overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;
}

/*  Sets abacash-table width to 100%.
 *  Adds bottom-margin. */
.abacash-table,
%abacash-table {
    width: 100%;
    margin-bottom: $abacash-table-margin-bottom;
}

/*  Adds abacash-table cell padding,
 *  aligns text to the left,
 *  and adds a top border to each cell. */
.abacash-table th,
%abacash-table th,
.abacash-table td,
%abacash-table td {
    padding: $abacash-table-cell-padding;
    text-align: $abacash-table-cell-text-align;
    border-top: $abacash-table-cell-border-top;
}

/*  Sets abacash-table header font-weight to bold.
 *  Aligns abacash-table header text to the bottom of each cell. */
.abacash-table th,
%abacash-table th {
    border-top: none !important;
    font-weight: $abacash-table-header-font-weight;
    vertical-align: bottom;
    a{
        cursor: pointer;
        color: $dark-gray;
        &:hover{
          color: $dark-gray;  
        }
        &:active{
          color: $dark-gray;  
        }
    }
}

/*  Aligns cell text to the top of each cell. */
.abacash-table td,
%abacash-table td {
   /* vertical-align: top; */
}


/*  Reduces cell padding */
.abacash-table-condensed th,
%abacash-table-condensed th,
.abacash-table-condensed td,
%abacash-table-condensed td {
    padding: $abacash-table-condensed-padding;
}

/* Adds borders and border-radius. */
.abacash-table-bordered,
%abacash-table-bordered {
    border: $abacash-table-bordered-border;
    border-collapse: separate;
    *border-collapse: collapsed;
    border-radius: $abacash-table-bordered-border-radius;
}

.abacash-table-bordered th + th,
%abacash-table-bordered th + th,
.abacash-table-bordered td + td,
%abacash-table-bordered td + td,
.abacash-table-bordered th + td,
%abacash-table-bordered th + td,
.abacash-table-bordered td + th,
%abacash-table-bordered td + th {
    border-left: $abacash-table-border-left;
}

.abacash-table-bordered thead:first-child tr:first-child th,
%abacash-table-bordered thead:first-child tr:first-child th,
.abacash-table-bordered tbody:first-child tr:first-child th,
%abacash-table-bordered tbody:first-child tr:first-child th,
.abacash-table-bordered tbody:first-child tr:first-child td,
%abacash-table-bordered tbody:first-child tr:first-child td {

    border-top: 0;
    border-top: none;
}

.abacash-table-bordered thead:first-child tr:first-child th:first-child,
%abacash-table-bordered thead:first-child tr:first-child th:first-child,
.abacash-table-bordered tbody:first-child tr:first-child td:first-child,
%abacash-table-bordered tbody:first-child tr:first-child td:first-child {
    border-radius: $abacash-table-bordered-child-radius 0 0 0;
    border-top: none;

}

.abacash-table-bordered thead:first-child tr:first-child th:last-child,
%abacash-table-bordered thead:first-child tr:first-child th:last-child,
.abacash-table-bordered tbody:first-child tr:first-child td:last-child,
%abacash-table-bordered tbody:first-child tr:first-child td:last-child {
    border-radius: 0 $abacash-table-bordered-child-radius 0 0;
}

.abacash-table-bordered thead:last-child tr:last-child th:first-child,
%abacash-table-bordered thead:last-child tr:last-child th:first-child,
.abacash-table-bordered tbody:last-child tr:last-child td:first-child,
%abacash-table-bordered tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 $abacash-table-bordered-child-radius;
}

.abacash-table-bordered thead:last-child tr:last-child th:last-child,
%abacash-table-bordered thead:last-child tr:last-child th:last-child,
.abacash-table-bordered tbody:last-child tr:last-child td:last-child,
%abacash-table-bordered tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 $abacash-table-bordered-child-radius 0;
}