$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

$red: #ED1F23;
$dark-red: #B10200;
$dark-gray: #252323;
$gray: #808080;
$white: #FFFFFF;
$white-smoke: #F5F5F5;
$black: #000000;


$navbar-height: 70px;

body{
	background-color: $white-smoke;
}



.abacash-footer{
	position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 10px;
    padding: 10px 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #E5E5E5;
}

.abacash-systems{
    h1{
        color: $dark-gray;
        font-weight: 300;
        font-size: 26px;
        margin-bottom: -12px;
        padding-top: 25px;
    }
    img{
        max-width: 200px;
    }
    p{
        &.active{
            color: #228B22;
        }
        &.deactive{
            color: $red;
        }
    }
}
// Component styles are injected through grunt
// injector
@import 'abacash-table.scss';
@import 'account/account.scss';
@import 'button.scss';
@import 'customers/customers.scss';
@import 'economy/economy.scss';
@import 'form-input.scss';
@import 'products/products.scss';
@import 'transactions/transactions.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector