<div class="container">
	<div class="row" ng-show="customers.length">
		<div class="col-sm-12">
			<table class="abacash-table">
			    <thead>
			        <tr>
			            <th><a ng-click="order('displayname')">Navn</a></th>
			            <th><a ng-click="order('username')">Brukernavn</a></th>
			            <th><a ng-click="order('role')">Kunderolle</a></th>
			            <th><a ng-click="order('rfid')">RFID</a></th>
			            <th><a ng-click="order('balance')">Saldo</a></th>
			        </tr>
			    </thead>
			    <tbody ng-repeat="customer in customers | filter: search | orderBy:predicate:reverse">    <tr class="clickable" ng-click="select(customer._id)">
			            <td>{{customer.displayname}}</td>
			            <td>{{customer.username}}</td>
			            <td>{{customer.role.role}}</td>
			            <td>{{customer.rfid}}</td>
			            <td>{{customer.balance}}</td>
			        </tr >
			    </tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center empty-table-message" ng-show="!customers.length">
			<h1>Ingen Kunder enda</h1>
			<img src="assets/icons/emoji-sad.svg">
			<br>
			<h2>Kunder må du registrere via Abacash klientene</h2>
		</div>
	</div>
</div>