<h1>Hei</h1>
<p>Du har blirr invitert deg til Abacash admin.</p>
<p> For å bli med så er det bare å følge linken under, der du kan registrere noen detaljer om deg selv!</p>

<a href=<%=invitelink%> >Sonnico CRM</a>

<p>Hvis dette ikke stemmer, så er det bare å se bort i fra denne mailen</p>