<h1>Hei <%= firstname %></h1>
<p>Her er en link for å tilbakestille passordet ditt.</p>
<p>Følg linken under for å registrere ett nytt passord.</p>

<a href=<%=restoreLink%> ><%=restoreLink%></a>

<p>Hvis dette ikke stemmer, så er det bare å se bort i fra denne mailen</p>